<?xml version="1.0"?>
<!--
/**
 * ManiyaTech
 *
 * @author        Milan Maniya
 * @package       ManiyaTech_HomepageBannerSlider
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
    	<add id="ManiyaTech_HomepageBannerSlider::main" title="Homepage Banner Slider" translate="Homepage Banner Slider" module="ManiyaTech_HomepageBannerSlider" parent="ManiyaTech_Core::core" sortOrder="90" resource="ManiyaTech_HomepageBannerSlider::main" dependsOnConfig="homepagebannerslider/general/enable"/>

        <add id="ManiyaTech_HomepageBannerSlider::homepagebannerslider" parent="ManiyaTech_HomepageBannerSlider::main" title="Manage Homepage Banner Slider" module="ManiyaTech_HomepageBannerSlider"  sortOrder="10" dependsOnModule="ManiyaTech_HomepageBannerSlider" action="homepagebannerslider/bannerslider/index" resource="ManiyaTech_HomepageBannerSlider::homepagebannerslider"/>

        <add id="ManiyaTech_HomepageBannerSlider::configuration_menu" title="Configurations" module="ManiyaTech_HomepageBannerSlider" parent="ManiyaTech_HomepageBannerSlider::main" sortOrder="20" action="admin/system_config/edit/section/homepagebannerslider" resource="ManiyaTech_HomepageBannerSlider::configuration_menu" target="_blank"/>
    </menu>
</config>
